
<section class="criterion" ng-repeat="criterion in criterions"><strong>{{ criterion.label }}</strong>
  <div ng-if="criterion.answerType == 'bool'">
    <label class="criterion_choice">
      <input type="radio" value="0" ng-model="answers['record'][criterion.prop]"/> No
    </label>
    <label class="criterion_choice">
      <input type="radio" value="1" ng-model="answers['record'][criterion.prop]"/> Yes
    </label>
  </div>
  <div ng-if="criterion.answerType == 'scale'">
    <label class="criterion_choice">
      <input type="radio" value="0" ng-model="answers['record'][criterion.prop]"/> None
    </label>
    <label class="criterion_choice">
      <input type="radio" value="1" ng-model="answers['record'][criterion.prop]"/> A little
    </label>
    <label class="criterion_choice">
      <input type="radio" value="2" ng-model="answers['record'][criterion.prop]"/> More than a little
    </label>
  </div>
</section>