<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Record Grader</title>
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css" type="text/css">
	<link rel="stylesheet" href="style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
</head>
<body ng-app="recordGrader" ng-controller="MainController">

	<div id="container">

		<div id="header">
			<h1>VINYL RECORD GRADER</h1>

			<p>This tool will help you grade vinyl records according to the <a href="http://www.goldminemag.com/collector-resources/record-grading-101/2">Goldmine</a> guidelines.</p>
		</div>

		<div>
			<h3>Your record seems to be: {{ result || '—' }}</h3>
		</div>

		<div id="questions">

			<section ng-repeat="criterion in criterions">
				<h4>{{ criterion.label }}</h4>
				<div ng-if="criterion.answerType == 'bool'">
					<label><input type="radio" value="0" ng-model="answers[criterion.prop]"> No</label>
					<label><input type="radio" value="1" ng-model="answers[criterion.prop]"> Yes</label>
				</div>
				<div ng-if="criterion.answerType == 'scale'">
					<label><input type="radio" value="0" ng-model="answers[criterion.prop]"> None</label>
					<label><input type="radio" value="1" ng-model="answers[criterion.prop]"> A little</label>
					<label><input type="radio" value="2" ng-model="answers[criterion.prop]"> More than a little</label>
				</div>
			</section>

			<pre>{{ answers | json }}</pre>

		</div>

		<div id="footer">
			Made by <a href="https://twitter.com/raphaelyancey">Raphael Yancey</a> — 2017
		</div>

	</div>

	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>