$color-1: #E8E8E8;
$color-2: #d3643b;
$color-3: #edebe6;
$color-4: #2D2D2D;
$color-5: #636363;

body {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 15px;
	background: white;
	color: $color-4;
	//text-align: center;
}

.criterion {
	margin-bottom: 10px;

	.criterion_choice {

		margin-right: 10px;

		input {
			margin-right: 3px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}