body {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.sleeve-logo {

	height: 120px;
	width: 120px;
	border: 1px solid grey;
	margin-right: 20px;

	img {
		height: 100%;
		border-radius: 1px;
	}
}

.criterion {
	margin-bottom: 10px;

	.criterion_choice {

		margin-right: 10px;
		font-size: 0.9em;

		input {
			margin-right: 3px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}