body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}
.sleeve-logo {
  height: 120px;
  width: 120px;
}
.sleeve-logo img {
  height: 120px;
  width: 120px;
  border: 1px solid grey;
  border-radius: 1px;
  display: inline-block;
}
.criterion {
  margin-bottom: 10px;
}
.criterion .criterion_choice {
  margin-right: 10px;
  font-size: 0.9em;
}
.criterion .criterion_choice input {
  margin-right: 3px;
}
.criterion .criterion_choice:last-child {
  margin-right: 0;
}
.why-link {
  font-size: 15px;
}
.shim-link {
  cursor: pointer;
}
